twcam-pls-plcv-mdps-master/backend/target
twcam-pls-plcv-mdps-master/backend/proyecto-discoteca.war
twcam-pls-plcv-mdps-master/frontend/node_modules
twcam-pls-plcv-mdps-master/frontend/.angular
testRequests.txt