.invitado-row {
  margin: 10px 0;
  span {
    margin-right: 10px;
  }
}

.pagar-button {
  margin-bottom: 100px;
}

.full-width {
  width: 500px;
}

.mid-width {
  margin-right: 40px;
  width: 230px;
  margin-bottom: 40px;
}
